@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-teal-500{
  background-color: #00796b;
}
.bg-indigo-500{
  background-color: #3f51b5;
}
.bg-blue-500{
  background-color: #2196f3;
}
.bg-green-500{
  background-color: #4caf50;
}
.bg-red-500{
  background-color: #f44336;
}
.bg-purple-500{
  background-color: #9c27b0;
}
.bg-pink-500{
  background-color: #e91e63;
}
.bg-teal-500{
  background-color: #00796b;
}
.bg-gray-500{
  background-color: #9e9e9e;
}